################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bloom/obj
/Bloom/.vs/Bloom
/Bloom/bin/Debug/net6.0
